<!-- wp:group {"metadata":{"name":"Header Container"},"layout":{"type":"constrained","contentSize":"900px"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"gradient":"very-pale-blue","fontFamily":"arial-font","layout":{"type":"constrained","contentSize":"900px"}} -->
<div class="wp-block-group has-very-pale-blue-gradient-background has-background has-arial-font-font-family"><!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","fontSize":"large"} -->
<h2 class="wp-block-heading has-text-align-center has-large-font-size">404</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"large","fontFamily":"times-new-roman-font"} -->
<p class="has-text-align-center has-times-new-roman-font-font-family has-large-font-size">Halaman tidak ditemukan</p>
<!-- /wp:paragraph -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Footer Container"},"layout":{"type":"constrained","contentSize":"900px"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group -->