<!-- wp:group {"metadata":{"name":"Header Container"},"layout":{"type":"constrained","contentSize":"88%"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"join-us","tagName":"","area":"uncategorized","className":"join-us-container"} /-->

<!-- wp:group {"metadata":{"name":"Footer Container"},"layout":{"type":"constrained","contentSize":"88%"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group -->