<!-- wp:group {"metadata":{"name":"Header Container"},"layout":{"type":"constrained","contentSize":"88%"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","layout":{"contentSize":"64%","type":"constrained"}} -->
<main class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:group {"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-cyan"}}},"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"dark-cyan","fontSize":"medium-24","fontFamily":"helvetica-font"} -->
<p class="has-text-align-center has-dark-cyan-color has-text-color has-link-color has-helvetica-font-font-family has-medium-24-font-size" style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:700">Blog</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"},":hover":{"color":{"text":"var:preset|color|dark-blue"}}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"dark-blue","fontSize":"large-42","fontFamily":"headland-one"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|20"},"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|very-dark-gray"}}}},"textColor":"very-dark-gray","fontSize":"small-16","fontFamily":"poppins","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-group has-very-dark-gray-color has-text-color has-link-color has-poppins-font-family has-small-16-font-size" style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:500"><!-- wp:post-author {"showAvatar":false,"showBio":false} /-->

<!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"},":hover":{"color":{"text":"var:preset|color|dark-blue"}}}}},"textColor":"dark-blue"} /-->

<!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-blue"},":hover":{"color":{"text":"var:preset|color|dark-blue"}}}}},"textColor":"dark-blue"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"8px"}}} /-->

<!-- wp:post-content {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","lineHeight":1.6},"elements":{"link":{"color":{"text":"var:preset|color|very-dark-gray"}}}},"textColor":"very-dark-gray","fontSize":"small-16","fontFamily":"poppins"} /-->

<!-- wp:spacer {"height":"55px"} -->
<div style="height:55px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"join-us","area":"uncategorized","className":"join-us-container"} /-->

<!-- wp:group {"metadata":{"name":"Footer Container"},"layout":{"type":"constrained","contentSize":"88%"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group -->